.board
    position: relative
    height: 100%
    width: 100%
    &:hover
        width: 140%
        left: -20%
    .bgBoard
        position: relative
        width: 100%
        padding-top: 69%
        display: flex
        background-image: url('../../public/board/board_white_empty.png')
        background-size: 100% auto
        background-position: center
        background-repeat: no-repeat
        
        .year2022
            position: absolute
            width: 25%
            top: 15%
            left: 5%
        .year2018
            position: absolute
            width: 18%
            bottom: 15%
            left: 10%
        .year2021
            position: absolute
            width: 28%
            top: 10%
            left: 33%
        .year2020
            position: absolute
            width: 26%
            top: 10%
            right: 10%
        .year2019
            position: absolute
            width: 30%
            top: 35%
            left: 34%
        .year2015
            position: absolute
            width: 47%
            bottom: 15%
            left: 30%
            z-index: 5
        .yearOthers
            position: absolute
            width: 25%
            bottom: 28%
            right: 10%
