.books
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
    height: 100%
    width: 100%
    .leftBooks
        position: relative
        .blueOne
            position: absolute
            bottom: 33%
            left: -5%
            width: 98%
            z-index: 2
            &:hover
                left: -15%
                width: 120%
                z-index: 10
        .yellowOne
            position: absolute
            bottom: 4%
            width: 88%
            left: 6%
            &:hover
                left: 0%
                width: 105%
                z-index: 10
    .rightBooks
        position: relative
        .redOne
            position: absolute
            bottom: 10%
            height: auto
            left: 1%
            width: 29%
            &:hover
                width: 35%
                z-index: 10
        .pinkOne
            position: absolute
            bottom: 12%
            right: 21%
            width: 54%
            &:hover
                width: 62%
                z-index: 10
        .yellowTwo
            position: absolute
            right: 0%
            bottom: 11.5%
            width: 52%
            &:hover
                width: 60%
                z-index: 10