.portraitContainer
    .portrait1
        position: relative
        padding-top: 64%
        background-image: url('../../public/albums/04_2021.jpeg')
        background-size: auto 100%
        background-position: center
        background-repeat: no-repeat
        transition: 0.5s
        &:hover
            background-image: url('../../public/albums/04_2021_bw.jpeg')
            transition: 0.5s
    .portrait2
        position: relative
        width: 100%
        padding-top: 64%
        background-image: url('../../public/albums/2020.jpeg')
        background-size: auto 100%
        background-position: center
        background-repeat: no-repeat
        transition: 0.5s
        &:hover
            background-image: url('../../public/albums/2020_bw.jpeg')  
            transition: 0.5s
    .portrait3
        position: relative
        width: 100%
        padding-top: 64%
        background-image: url('../../public/albums/2019.jpeg')
        background-size: auto 100%
        background-position: center
        background-repeat: no-repeat
        transition: 0.5s
        &:hover
            background-image: url('../../public/albums/bw_2019.jpeg') 
            transition: 0.5s 
    .portrait4
        position: relative
        width: 100%
        padding-top: 64%
        background-image: url('../../public/albums/2018.jpeg')
        background-size: auto 100%
        background-position: center
        background-repeat: no-repeat
        transition: 0.5s
        &:hover
            background-image: url('../../public/albums/2018_bw.jpeg')
            transition: 0.5s 
    .portrait5
        position: relative
        width: 100%
        padding-top: 64%
        background-image: url('../../public/albums/2015.jpeg')
        background-size: auto 100%
        background-position: center
        background-repeat: no-repeat
        transition: 0.5s
        &:hover
            background-image: url('../../public/albums/2015_bw.jpeg') 
            transition: 0.5s
      