
.container
    .homepage
        display: grid
        place-items: center
        grid-template: minmax(720px,109vh) / minmax(1280px,100vw)
        @import 'animation/fadeIn'
        .bgContainer
            width: 90%
            padding-top: 50%
            background-image: url('../public/new_background.jpeg')
            background-size: 100% auto
            background-position: center
            background-repeat: no-repeat
            position: relative
            .clockContainer
                position: absolute
                top: 26%
                right: 1%
                width: 16%
                height: auto
                @import 'stuff/clock'
            .booksContainer
                position: absolute
                width: 25%
                height: 19%
                top: 27%
                right: 17%
                @import 'stuff/books'
            .lambContainer
                position: absolute
                left: 9%
                bottom: 0
                width: 41%
                height: 50%
                @import 'stuff/lamb'
            .boardContainer
                position: absolute
                left: 9%
                top: 6%
                width: 36%
                height: auto
                @import 'stuff/board'
            @import 'stuff/photos'
            @import 'stuff/noteBook'
            @import 'stuff/laptop'
    .blurContainer
        position: absolute
        top: 0
        left: 0
        display: grid
        place-items: center
        grid-template: minmax(720px,109vh) / minmax(1280px,100vw)
        background-color: rgba(44, 43, 43, 0.877)
        @import 'animation/fadeIn'
        .closeButton
            position: fixed
            top: 2%
            right: 5%
            z-index: 101
            &:hover
                opacity: 0.7
        .blur
            border-radius: 20px
            width: 90%
            padding-top: 50%
            position: absolute
            z-index: 10
            @import 'popup/popupLists'
            .dotBar
                display: flex
                position: fixed
                width: 700px
                left: 50%
                margin-left: -350px
                bottom: 2%
                justify-content: center
                align-items: center
                z-index: 101
                .blankCircle
                    width: 13px
                    height: 13px
                    border: 1px solid white
                    border-radius: 15px
                    margin: 2px
                    margin-bottom: 6px
                    &:hover
                        background-color: white
            .popup
                z-index: 100
                position: fixed
                left: 29%
                top: 3%
                width: 42vw
                height: auto
                @import 'popup/popup'
                @import 'popup/popupPortrait'
            .popupLaptop
                z-index: 100
                position: fixed
                left: 20%
                top: 5%
                width: 60vw
                height: 90vh
                @import 'popup/popupLaptop'
            .leftArrow
                position: fixed
                top: 44%
                left: 20%
                width: 3%
                height: auto
                &:hover
                    top: 43%
                    left: 19%
                    width: 4%
            .rightArrow
                position: fixed
                top: 44%
                right: 20%
                width: 3%
                height: auto
                &:hover
                    top: 43%
                    right: 19%
                    width: 4%
            .blocker
                position: fixed
                top: 0
                left: 0
                bottom: 0
                right: 0
                content: ' '
