.popupList
    z-index: 100
    position: fixed
    left: 29%
    top: 5%
    width: 42vw
    height: auto
    .listContainer
        .postsContainer
            .posts
                .post
.blocker
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    content: ' '